@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.nav-item__link{
  @apply whitespace-nowrap block py-2 mx-3	 text-white hover:underline underline-offset-2;
}
main{
  @apply bg-orange-500
}
#user-name{
@apply max-w-[100px] overflow-hidden text-ellipsis whitespace-nowrap
}
.news-item{
  @apply border border-slate-400 px-5 py-4;
}
.news-title{
  @apply text-left font-semibold mb-1 text-red-600 text-xl hover:text-blue-500;
}
.active{
  @apply bg-gray-900;
}
.logo{
  @apply text-white font-bold text-3xl inline-block align-middle
}
.menu__bar{
  @apply bg-transparent grid grid-cols-4 w-full absolute top-0 p-3 box-border 
}
header{
  @apply relative
}
.menu__bar ul li a:hover{
  @apply no-underline
}
.sub-menu{
  @apply bg-orange-500 text-white text-center top-full px-3 relative rounded-[8px] mt-[5px]
}
.nav-item__link{
  @apply transition ease-linear duration-150 
}
.dropdown{
  @apply absolute left-1/2 -translate-x-1/2  opacity-0
}
.menu__bar li:hover .dropdown{
  @apply opacity-100
}
.link-active{
  @apply  border-b-2 border-orange-500
}
.nav-item__link:hover{
  @apply scale-125 ease-in-out duration-500 text-orange-500
}
.square {
  @apply absolute top-[-6px] left-1/2 w-[12px] h-[12px] border-t-[rgba(0,0,0,.15)] border-l-[rgba(0,0,0,.15)] bg-orange-500 rotate-45 translate-x-[-50%] rounded-[3px]
}
.sub-menu a:hover{
  @apply text-black ease-linear duration-150
}
.item-box{
  @apply rounded-md p-4 text-center bg-white
}
.item-box{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item-box h1{
  @apply text-2xl font-semibold py-2 bg-orange-500 text-white uppercase hover:bg-orange-700 ease-linear duration-500 rounded-md
}
.item-box p{
  @apply text-sm text-left
}
.item-box h3{
  @apply text-lg font-semibold text-orange-500 py-2
}
.item-box button {
  @apply bg-white p-3 rounded-md font-semibold text-orange-500 border-2 border-orange-500
}
.item-box button:hover{
  @apply bg-orange-500  p-3 rounded-md font-semibold text-white
}
.item-box img{
  @apply w-full h-52 object-cover bg-white hover:scale-110 transition duration-500
}
.item-box h4{
  @apply bg-orange-500 absolute z-50 text-white font-light text-xl leading-[50px] text-center w-[50px] h-[50px] rounded-full
}
.item-detail{
  @apply text-left flex flex-col justify-center text-white mx-auto
}
.item-detail h1{
  @apply text-4xl font-bold uppercase mb-3
}
.item-detail h3{
  @apply text-3xl font-bold text-orange-500 py-2
}
.item-detail button:hover{
  @apply bg-orange-500 rounded-md p-3 font-semibold text-2xl text-white
}
.item-detail button{
  @apply bg-transparent border-2 w-fit border-orange-500 rounded-md p-3 font-semibold text-2xl text-orange-500 mt-5
}
.search-bar{
  @apply absolute top-1/3 left-1/2 translate-x-[-50%]
}
.search-bar h1{
  @apply font-black text-6xl text-white mt-2  drop-shadow-2xl h-fit w-full text-center
}
.search-bar h1 span{
  @apply text-[84px] bg-gradient-to-bl from-orange-500 to-red-600 text-transparent bg-clip-text
}.search-bar h3{
  @apply text-center text-white text-lg mt-2
}
.result{
  @apply max-h-56 overflow-y-auto 
}
.checkout-box{
  @apply overflow-hidden shadow-xl rounded-md
}
.checkout-box h1{
  @apply text-2xl font-semibold p-3 bg-orange-500 text-white
}
.form-info{
  @apply m-3
}
.form-info input{
  @apply w-full border-gray-300 focus:ring-orange-500 focus:border-orange-500
}
.form-info label{
  @apply block font-semibold mb-3
}
.checkout-box button{
  @apply p-3 bg-orange-500 m-3 font-semibold text-white rounded hover:bg-orange-600
}
.admin-link{
  @apply  text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium
}
.nav-active{
  @apply bg-gray-900 text-white
}
.cart-number{
  @apply w-4 h-4 bg-orange-500 absolute text-white flex items-center justify-center rounded-full top-0 text-xs -right-1/2
}
/* .cate1 img{
  @apply object-cover w-full
}
.grid-cates {
  @apply grid grid-cols-6 grid-rows-6 gap-2 mb-2 h-[600px]
}
.cate1 { @apply col-span-4 row-span-4 bg-black}
.cate2 { @apply col-span-2 row-span-5 bg-green-400}
.cate3 { @apply col-span-2 row-span-2 bg-blue-700}
.cate4 { @apply col-span-2 row-span-2 bg-pink-400}
.cate5 { @apply col-span-2 row-span-1 bg-orange-400} */

